body{
    padding-top:20px; 
    min-width: 300px;
}
hr.style-two {
    border: 0;
    height: 1px;
    margin-left: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr{
    margin-left: 15px;    
}
.setShow , .setHide{
    margin-top:-23px;
}
.card{
    border:1px solid black;
}
.mint,.sec{
    margin-left:10px;
}
span{
    margin-left: 15px;
}
button{
    margin-bottom:10px; 
}

select{
    margin-left: 30px;
}
#timer_div{
    margin-left: 10px;
}